# Python bytecode
*.py[cod]
__pycache__/

# Django stuff
*.log
db.sqlite3
/static/
/media/

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Secret files
.env
